.jumbotron {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkDYPwuO5k39inJqvwM7cbBnCvdaTNdbWXS23OO4oOhlfUXJxI5Q")! important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

.jumbotron > h1 {
    font-family: 'Fontdiner Swanky', cursive;
}

#newburger {
    border-radius: 5px;
}

#color-override {
    color: #fff;
}





